@font-face {
  font-family: 'RUBBERNECK';
  src: url('../fonts/RUBBERNECK.ttf');
  src: local('RUBBERNECK'), local('RUBBERNECK'),
  url('../fonts/RUBBERNECK.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
