
@font-face {
  font-family: 'RUBBERNECK';
  src: local("RUBBERNECK"), local("RUBBERNECK"),
  url('../fonts/RUBBERNECK.ttf'),
  url('../fonts/RUBBERNECK.woff') format('woff'),
  url('../fonts/RUBBERNECK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
