.canvas-cont {
  //filter: brightness(0.8) grayscale(0.57);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  background: #9E1F63;
  filter: brightness(1.3);
  z-index: 2;
  //display: none;


  canvas {
    mix-blend-mode: multiply;
    filter: grayscale(1);
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

  }
}

.home-back-block {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/bg-white-map.svg") no-repeat center / 100% 100%;
  margin-top: -428px;
}

.trigger-clipp {
  position: absolute;
  top: 0;
  right: 0;
  background: blue;
  height: 60vh;
  width: 100px;
  opacity: 0;
  pointer-events: none;
}

.gsap-marker-end, .gsap-marker-start, .gsap-marker-scroller-end, .gsap-marker-scroller-start {
  display: none !important;
}

body {
  //background: red;
  overflow-x: hidden;
}

.svg-for-clipping-mask {
  path {
    //transform-origin: 50% 50%;
    //transform: scale(0.1, 0.2);
    //position: absolute;
    //bottom: 0;
    //left: 50%;

  }

  path {
    visibility: hidden;


  }

  #circle1 {
    visibility: visible;
  }
}

.burger {
  width: 52px;
  height: 41px;

  position: fixed;
  top: 41px;
  right: 90px;
  z-index: 4;
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.45));

  span {
    width: 38px;
    height: 5px;
    background: #000;
    border-radius: 40px;
    position: absolute;
    top: 5px;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;

    &:nth-child(1) {
      top: 7px;
    }

    &:nth-child(2) {
      top: 18px;
    }

    &:nth-child(3) {
      top: 29px;
    }
  }

  &:hover {
    span {
      background: #FF0085;
    }
  }
}

.burger-cont {
  width: 100%;
  height: 100%;
  background: url("../img/burger-bg.svg") no-repeat center / 100%;
  filter: drop-shadow(1px 1px 0px #fff) drop-shadow(-1px -1px 0px #fff) drop-shadow(1px -1px 0px #fff) drop-shadow(-1px 1px 0px #fff);
}

.burger-x {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 31px;
  right: 46px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.45));
  pointer-events: auto;
  cursor: pointer;
  z-index: 2;

  .burger-x-cont {
    width: 100%;
    height: 100%;
    background: url("../img/x-mark.svg") no-repeat center / 100%;

    span {
      width: 38px;
      height: 5px;
      background: #000;
      border-radius: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all 0.3s ease-in-out;

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &:hover {
    .burger-x-cont {
      span {
        background: #FF0085;
      }
    }
  }
}

.header-menu {
  width: 1847px;
  height: 876px;
  position: fixed;
  top: 8px;
  right: 42px;
  z-index: 5;
  transform: translate(120%, 0);
  transition: all 0.25s ease-in;

  .skulp {
    width: 142px;
    height: 85px;
    display: flex;
    position: absolute;
    top: 44px;
    left: 49px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header-menu__bg {
    position: relative;
    width: 100%;
    height: 100%;
    filter: drop-shadow(5px 5px 30px rgba(0, 0, 0, 0.45));

    .img {
      width: 100%;
      height: 100%;
      display: flex;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.header {
  &.active {
    .header-menu {
      transform: translate(0, 0);
    }
  }

}

.menu {
  ul {
    li {
      position: absolute;

      a {
        font-family: $kolker;

        font-weight: normal;
        font-size: 120px;
        line-height: 0.5;
        text-align: left;
        color: #a42d6b;
        display: flex;
        transition: all 0.3s ease-in-out;
      }


      .img {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease-in-out;
        position: absolute;
        display: flex;
        filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.45));

        img {
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        a {
          transform: scale(1.3);
          opacity: 0;
        }

        .img {
          opacity: 1;
          transition-delay: 0.14s !important;
          pointer-events: auto;
        }
      }

      &:nth-child(1) {
        top: 275px;
        left: 438px;

        .img {
          width: 357px;
          top: -38px;
          left: -155px;
        }
      }

      &:nth-child(2) {
        top: 416px;
        left: 718px;

        .img {
          width: 335px;
          left: -133px;
          top: -8px;
        }
      }

      &:nth-child(3) {
        top: 152px;
        left: 911px;

        .img {
          width: 391px;
          left: -126px;
          top: -54px;
        }
      }

      &:nth-child(4) {
        top: 307px;
        left: 1216px;

        .img {
          width: 359px;
          left: -130px;
          top: -25px;
        }
      }

      &:nth-child(5) {
        top: 717px;
        left: 835px;

        .img {
          width: 518px;
          left: -171px;
          top: -34px;
        }

        a {
          letter-spacing: 0.02em;
        }
      }
    }
  }
}

.header {
  .logo {
    width: 64px;
    height: auto;
    display: flex;
    position: fixed;
    top: 39px;
    left: 90px;
    z-index: 4;

    a, img {
      width: 100%;
      height: auto;
      display: flex;
    }
  }
}

.main-home {
  width: 100%;
  position: relative;

}

.clipping-mask {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  height: 100vh;

  //-webkit-clip-path: url(#shape-mask);
  //clip-path: url(#shape-mask);


}

.home-big-block {
  width: 100%;
  margin-top: 428px;
  position: relative;
  height: 5698px;

  mask-image: url("../img/mask-color2.svg");
  mask-position: 0 0;
  mask-size: 100%;

}

.home-main-block {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;


  //background: red;

  .island {
    width: 2020px;
    height: 980px;
    display: inline-block;
    content: '';
    position: absolute;
    top: 19px;
    left: -50px;
    z-index: 2;
    transform: translate(0, -50%);
    background: url(../img/island-purple.svg) center / 100.024%;
  }
}

.canvas-cont {
  -webkit-clip-path: url(#shape-mask);
  clip-path: url(#shape-mask);

}
body {
  //-webkit-clip-path: url(#shape-mask);
  //mask-image: url('../img/mask-test.svg');
  //mask-size: 100%;
  //mask-position: 0 0;
  //-webkit-mask-attachment: fixed;
  //mask-repeat: no-repeat;
}
.home-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 176px;

  .img {
    width: 605px;
    height: 268px;
    display: flex;
    margin-right: 2px;
    margin-bottom: 24px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));

    img {
      width: 100%;
      height: 100%;
    }
  }

  p {
    font-weight: normal;
    font-size: 25px;
    letter-spacing: 0.093em;
    line-height: 1;
    text-align: center;
    color: grey;
    margin-left: 30px;
    margin-top: 4px;
    position: relative;

    &::before, &::after {
      height: 1px;
      width: 17px;
      background: #808080;
      position: absolute;
      top: 70%;
      left: -17px;
      display: inline-block;
      content: '';
      transform: translate(-100%, -50%);
    }

    &::after {
      left: auto;
      right: -15px;
      transform: translate(100%, -50%);
    }
  }
}

.ship-home {
  width: 83px;
  height: 131px;
  display: flex;
  position: sticky;
  bottom: 37px;
  left: 50%;
  transform: translate(-53%, 0);
  margin-left: auto;
  z-index: 4;
  margin-right: auto;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.45));

  img {
    width: 100%;
    height: 100%;
  }
}
.home-main-block {
  //clip-path: url('../img/mask-test.svg');
}
.home-main-block__container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 400px;
  z-index: 2;

  //margin-top: -428px;
  //mask-image: url('../img/mask-test.svg');
  //mask-position: 0 0;
  //mask-size: 100%;
  //-webkit-mask-attachment: scroll;

}
.home-big-block {
  //mask-image: url('../img/mask-test.svg');
  //mask-size: 100%;
  //mask-position: 0 0;
  //-webkit-mask-attachment: fixed;

}

.fixed-mask3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-clip-path: url(#shape-mask);
  clip-path: url(#shape-mask);
  z-index: 2;
}

.our-clients {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.our-clients__left {
  width: 487px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  .img {
    width: 100%;
    height: 278px;
    display: flex;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.words {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.45))
}